<div class="layout layout--row layout--center layout--stretch">
  <!-- Battery -->
  {% render "battery_info", data: data, size: "small" %}
  <!-- WiFi -->
  {% render "wifi_info", data: data, size: "small" %}
</div>

<!-- Title bar fixed at the bottom -->
{% render "titlebar", data: data, trmnl: trmnl %}